// Results styles

#results {
    display: none;
}

.results-area {
    position: relative;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.results-error {
    font-size: 2rem;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results-area figure {
    width: 100%;
}

.results-area img {
    z-index: 10;
    background-color: linear-gradient(to right, rgba(71, 53, 71, 0.4), rgba(71, 53, 71, 0.4));
    display: block;
    width: 100%;
    cursor: pointer;
}

.results-area figcaption {
    text-transform: uppercase;
    background: $fade-color;
    margin: 0;
    padding: 5px;
}
