
.search {
    min-height: 100vh;
    // width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search > div,
.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
