article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  font-size: 2rem; }

.skip-link:focus {
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  background: #231123;
  color: #eff7ff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  max-width: 1600px;
  margin: 0 auto; }

.wrapper {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Lobster", cursive;
  color: #82204a;
  text-shadow: 1px 1px #eff7ff;
  text-align: center; }

h1 {
  font-size: 20rem;
  line-height: 20rem; }

h2 {
  font-size: 10rem; }

h3 {
  font-size: 8rem; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

.search {
  min-height: 100vh;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.search .wrapper {
  text-align: center; }

.about {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 5rem;
  color: #82204a; }

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 5rem;
  color: #82204a; }

.about:hover {
  text-shadow: 1px 1px #473547; }

.search p {
  font-size: 2rem; }

.search > div,
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

input[type=text] {
  background: #473547;
  color: #eff7ff;
  border: 0;
  padding: 12px 30px;
  width: 80vh;
  max-width: 1500px;
  margin-bottom: 20px;
  font-size: 3rem; }

input[type=submit] {
  color: #eff7ff;
  border: none;
  background-color: #82204a;
  padding: 10px 20px;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-size: 2rem; }

button {
  background: none;
  border: none;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s; }

button:focus {
  outline: none;
  border: none; }

button img {
  width: 50%; }

button:hover {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg); }

.about-popup {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  background: #231123;
  font-size: 2rem; }

.about-popup h2 {
  margin: 50px 0 30px; }

.about-popup .question {
  text-transform: uppercase;
  font-weight: 900;
  color: #e8db7d;
  font-size: 2.5rem;
  margin: 25px 0 15px;
  display: block; }

#results {
  display: none; }

.results-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto; }

.results-area {
  position: relative;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  text-align: center; }

.results-error {
  font-size: 2rem;
  position: absolute;
  top: 160px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.results-area figure {
  width: 100%; }

.results-area img {
  z-index: 10;
  background-color: linear-gradient(to right, rgba(71, 53, 71, 0.4), rgba(71, 53, 71, 0.4));
  display: block;
  width: 100%;
  cursor: pointer; }

.results-area figcaption {
  text-transform: uppercase;
  background: #473547;
  margin: 0;
  padding: 5px; }

.profile {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  background: #231123; }

.profile-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0; }

.profile-header h2, .profile-header img {
  grid-column: 1 / 3; }

.profile-header h3:nth-child(1) {
  text-align: left; }

.profile-header h3:nth-child(2) {
  text-align: right; }

.profile-header img {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #473547; }

.profile-icon-stats {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  max-width: 810px;
  margin: 0 auto;
  padding: 50px 0 40px; }

.profile-icon-stats img {
  display: none;
  max-width: 100%; }

.icon-container {
  text-align: center;
  display: none; }

.icon-span {
  color: #eff7ff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  display: none; }

.school + .icon-span {
  overflow: hidden;
  height: 2rem; }

.profile-text-stats {
  padding: 0 0 30px 0;
  max-width: 800px;
  margin: 0 auto; }

.profile-text-stats h2 {
  display: none;
  position: relative;
  bottom: -35px; }

.text-container {
  grid-template-columns: minmax(215px, 215px) 1fr;
  grid-gap: 10px;
  display: none; }

.profile-text-stats span {
  display: block;
  background: #473547;
  padding: 0 20px 0 20px; }

.text-property {
  text-transform: uppercase;
  font-weight: 900;
  color: #e8db7d;
  display: block;
  font-size: 2.5rem;
  text-align: right; }

.text-value {
  font-size: 2rem;
  text-transform: capitalize; }

.divider {
  display: none; }

.divider-span {
  height: 10px;
  background: #473547; }

.status-updates-span {
  display: block;
  background: #473547;
  padding: 20px; }

.profile-quote-status {
  display: none;
  grid-template-columns: 1fr 150px;
  grid-gap: 10px;
  padding: 0 0 30px 0;
  max-width: 800px;
  margin: 0 auto; }

.quote {
  display: grid;
  grid-template-columns: auto 1fr; }

.quote-symbol {
  font-weight: 900;
  color: #e8db7d;
  font-size: 10rem;
  text-align: right;
  padding-top: 0;
  padding-right: 0; }

.status {
  font-size: 2rem;
  padding-left: 8px;
  padding-top: 15px; }

.date {
  font-weight: 900;
  color: #e8db7d;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

.profile-friend-status {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  padding: 0 0 30px 0;
  max-width: 800px;
  margin: 0 auto; }

.status {
  font-size: 2rem;
  padding-left: 8px;
  padding-top: 15px; }

.profile-friend-status .status {
  padding-left: 20px; }

.date {
  font-weight: 900;
  color: #e8db7d;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

.profile-location-status {
  display: none;
  grid-template-columns: 1fr 150px;
  grid-gap: 10px;
  padding: 0 0 30px 0;
  max-width: 800px;
  margin: 0 auto; }

.profile-location-status .status {
  padding-left: 20px; }

.profile-friends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 0 0 30px 0;
  max-width: 800px;
  margin: 0 auto; }

.profile-friends-list img {
  width: 100%; }

h2.friends {
  text-align: center;
  font-size: 8rem;
  max-width: 800px;
  margin: 0 auto; }

.friend {
  display: grid;
  grid-template-rows: auto 1fr; }

caption {
  text-transform: uppercase;
  background: #473547;
  margin: 0;
  padding: 5px; }

.friend > img {
  cursor: pointer; }

@media (max-width: 1000px) {
  .results-area {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 760px) {
  .results-area {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 440px) {
  .results-area {
    grid-template-columns: 1fr; } }

@media (max-width: 405px) {
  body {
    min-width: 320px; }
  h1 {
    font-size: 10rem; }
  h2 {
    font-size: 9rem; } }
